<br>
<br>
<br>
<h1>Update Your Password</h1>
<p>Make a better Password that you can remember for long </p>
<div class="upwd">
    <form >
        <div class="i" style="text-align: center;">
            <input type="password" placeholder="Password">
        </div>
        <br>
        <div class="s" style="text-align: center;">
            <button type="submit" class="btn" >
                Update Password
              </button>
        </div>
    </form>
    <br>
<h4> After Update, Kindly go to Sign In Page</h4>
</div> 
<br>
<br>
<br>
<br>
<br>
<br>


