

<div class="container single-product">
    <div class="row">
        <div class="col-md-5 imma">
            <img src="../../../assets/images/mk6.jpg" alt="">
        </div>
        <br>
        <div class="col-md-5 ">
            <div class="product-new-top">New</div>
            <h2><b>Product Name</b></h2>
            <div class="container">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <div>
                  <p class="price">Price : ₹399.99</p>
                  <p><b>Avaliability :</b>In Stock</p>
                  <p><b>Brand :</b>Amul</p>
                  <p><b>Offers :</b>Boolean</p>
                  <label>Quantity :</label>
                    <input type="number" value="1"><br>
                  <button type="submit" class="btn btn-primary">Add to Cart</button>
              </div>

        </div>
    </div>
</div>