<br>
<br>
<br>
<h1>Reset Your Password</h1>
<p>It happens to the best of us. Enter your Email and we'll send you reset instructions.</p>
<div class="pwd">
    <form [formGroup]="mailerdata" (ngSubmit)="onSubmit(mailerdata.value)" >
        <div class="i" class="form-group" style="text-align: center; padding-left: 200px; padding-right: 200px;">
            <input type="email" class="form-control"
            formControlName="UserEmail"
            placeholder="Email address">
        </div>
        <br>
        <div class="s" style="text-align: center;">
            <button type="submit" class="btn" >
                Send Email to Reset Password
              </button>
        </div>
    </form>
    <br>
<h4>If that account is in our system, we emailed you a link to reset your password.</h4>
</div> 
<br>
<br>
<br>
<br>
<br>
<br>

