

        <!-- top-1header -->
        <!-- <div class="row">
            <div class="container-fluid wname col-md-3 row " style="border: 1px solid red;">
                <h3 style="border:1px solid yellow;" class="col-sm-8" ><span>S</span>uper<span>M</span>arke<span>T</span></h3>
            </div>
            <div>
                <img src="./../../../assets/images/logo2.png" alt="logo2" height="46px" class="img-responsive" style="border: 2px solid blue;">
            </div>
	<div class="container-fluid firstline col-md-7" style="border: 1px solid green;">
            <p>Welcome To Our SuperMarkeT with Big Discounts</p>
        </div>
    </div> -->


    <div class="container-fluid bg col-lg-12 row" >
        <div class="container-fluid bgl col-md-2"  >
            <h2 style="float: right;"><span>S</span>uper<span>M</span>arke<span>T</span></h2>
        </div>
        <div class="container-fluid bgl col-md-1"  >
            <img src="./../../../assets/images/logo2.png" alt="logo2" height="46px" class="img-responsive" >
        </div>
        <div class="container-fluid bgm col-md-6" >
            <h5>Welcome To Our SuperMarkeT with Big Discounts</h5>
        </div>
        <!-- <div   class="container-fluid gf col-md-3" *ngIf="userName" style="border: 1px solid black;" >
            <h3> Hi,You are LoggedIn </h3>
           </div>
           <div   class="container-fluid gf col-md-3" *ngIf="!userName" style="border: 1px solid orange;" >
            <h3> Please Login !!!  </h3>
           </div>  -->
           <div class="container-fluid bgl col-md-1" >
            <img src="./../../../assets/images/logo2.png" alt="logo2" height="46px" class="img-responsive" >
        </div>
        <div class="container-fluid bgl col-md-2"  >
            <h2><span>S</span>uper<span>M</span>arke<span>T</span></h2>
        </div>
    </div>
    <!-- top-1header -->

    <!-- top-2header -->

            <!-- <div class="col-sm-3 " style="border: 1px solid red;"> -->
           
                    <!-- <li class="nav-item" *ngIf="!userName">
                        <a class="nav-link" href="#">You Are Not Logged In </a>
                    </li>
                    <li class="nav-item" *ngIf="userName">
                        <a class="nav-link">Hello ,{{userName}}</a>
                   </li> -->
                  
                    <!-- <div  class="showing" *ngIf="!userName">
                        <h3>You are not loggedIn</h3>
                    </div>
                    <div  class="showing" *ngIf="userName">
                        <p style="color: black;">{{userName}}</p>
                    </div>
                    <ng-container *ngIf="userName">
                        {{userName.FirstName}}
                    <ng-container>
                    
               </div> -->
<!-- top-2header -->


<!-- top-3header -->
<div class="container-fluid col-sm- thirdline">
   <div class="navbar navbar-expand-sm" style="border: 2px solid darkorange; border-radius: 25px;">
  <ol class="navbar-nav" style="margin: auto;">
    <li class="nav-item active">
        <button type="button" class="btn heading3">
      <a class="nav-link" routerLink="/home"><i class="fa fa-home"></i>&nbsp;Home</a></button>
    </li>

    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list-alt"></i>&nbsp;Categories</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/bevrages">Biscuits,Snacks & Chocolates</a>
          <a class="dropdown-item" routerLink="/fruits">Fruits</a>
          <a class="dropdown-item" routerLink="/bevrages">Beverages</a>
          <a class="dropdown-item"  routerLink="/atta">Atta & Other Grains</a>
          <a class="dropdown-item"  routerLink="/vegetables">Vegetables</a>
          <a class="dropdown-item"  routerLink="/fruits">Grocery & Staples</a>
          <a class="dropdown-item"  routerLink="/atta">BreakFast & Dairy</a>
          <a class="dropdown-item"  routerLink="/bevrages">Noodles,Sauces & Instant Foods</a>

        </div>
      </div>

      <!-- <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-flag"></i>&nbsp;Brands</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Amul</a>
          <a class="dropdown-item" href="#">Nestle</a>
          <a class="dropdown-item" href="#">Britaania</a>
          <a class="dropdown-item" href="#">Kwality Walls</a>
          <a class="dropdown-item" href="#">Tata</a>
          <a class="dropdown-item" href="#">Haldiram</a>
          <a class="dropdown-item" href="#">Cadbury</a>
          <a class="dropdown-item" href="#">Kelloggs</a>
          <a class="dropdown-item" href="#">Kissan</a>
          <a class="dropdown-item" href="#">Patanjali</a>
          <a class="dropdown-item" href="#">More....</a>


        </div>
      </div> -->


    <li class="nav-item">
        <button type="button" class="btn heading3">
      <a class="nav-link" routerLink="/hotarrivals"><i class="fa fa-bullhorn"></i>&nbsp;Hot Arrivals</a></button>
    </li>
    <li class="nav-item">
        <button type="button" class="btn heading3">
      <a class="nav-link" routerLink="/contactus"><i class="fa fa-phone-square"></i>&nbsp;Contact Us</a></button>
    </li>

    <!-- <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-id-badge"></i>&nbsp;My Account</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/profile">My Profile</a>
          <a class="dropdown-item" href="#">Orders</a>
          <a class="dropdown-item" href="#">Whilist</a>

        </div>
      </div> -->
      
    <li class="nav-item">
        <button class="btn heading3"  type="button">
            <a class="nav-link" routerLink="/mycart"><i class="fa fa-shopping-cart"></i>&nbsp;My Cart
            <span class="badge badge-light">{{cartItemCount}}</span>
            <span class="sr-only">unread message</span></a>
         </button>
    </li>
    
    <li class="nav-item" >
        <button type="button" class="btn heading3" >
      <a class="nav-link" (click)="Logout()"><i class="fa fa-times-circle"></i>&nbsp;Logout</a>
    </button>
    </li>

    <!-- Modal content-->
    
        <li class="nav-item">
            <button class="btn heading3"  data-target="#mymodel1" data-toggle="modal" style="color: white;">
                <i class="fa fa-user" style="color: white;">
            </i>&nbsp;Sign In</button>
            <div class="modal" id="mymodel1" >
                
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body modal-body-sub_agile">
                        <div class="main-mailposi">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                        </div>
                        <div class="modal_body_left modal_body_left1">
                            <h3 class="agileinfo_sign">Sign In </h3>
                            <p>
                                Sign In now, Let's start your Grocery Shopping. Don't have an account?
                                <a href="mymodal2" data-toggle="modal" data-target="#mymodel2" data-dismiss="modal">
                                    Sign Up Now</a>
                            </p>

         <!-- this is how to get error from serverside -->
                                <h2 class="alert alert-danger "  *ngIf="validateError">{{validateError}}</h2>

                           <form [formGroup]="login" (ngSubmit)="Save(login.value)">
                                <div class="form-group styled-input" formGroupName="userlogin" >
                                    <input type="email"  placeholder="E-mail" 
                                    formControlName="UserEmail"
                                    [class.is-valid]="login.controls.userlogin.controls.UserEmail.valid"
                                    [class.is-invalid]="!login.controls.userlogin.controls.UserEmail.valid && submitted" autofocus>
                                    <div class="valid-feedback" style="text-align: center;" >
                                        Looks Good :)!
                                    </div>
                                    <div class="invalid-feedback" style="text-align: center;">
                                        make a valid Email-ID
                                    </div>
                                    <!-- <div class="alert alert-danger" 
                                *ngIf="login.controls.userlogin.controls.userEmail.hasError('required')
                                && submitted">
                                Email-Id is required 
                             </div> -->
                                </div>
                                <div class="styled-input" formGroupName="userlogin">
                                    <input type="password" placeholder="Password" 
                                    formControlName="UserPassword"
                                    [class.is-valid]="login.controls.userlogin.controls.UserPassword.valid"
                                    [class.is-invalid]="!login.controls.userlogin.controls.UserPassword.valid && submitted" autofocus>
                                    <div class="valid-feedback" style="text-align: center;" >
                                        Looks Good :)!
                                    </div>
                                    <div class="invalid-feedback" style="text-align: center;">
                                        make a valid password
                                    </div>
                                    <!-- <div class="alert alert-danger" 
                                       *ngIf="login.controls.userlogin.controls.userPassword.hasError('required')
                                       && submitted">
                                       Password is required 
                                    </div> -->
                               <button type="submit"   class="btn heading3"  
                                     [disabled]="!login.valid" style="color: white; padding-top: 5px; 
                                       padding-bottom: 10px; padding-left: 40px; padding-right: 40px; margin-left:145px;"> 
                                     Sign In</button>
                                     <br>
                                     <br>
                                    <!-- <div class="fpp" style="text-align: center!important; color: orange!important; margin-top: 5px;">
                                        <a class="forgetpassword"  routerLink="/resetpassword" data-dismiss="modal">Forget Password ?</a>

                                    </div> -->
                                </div>
                        </form>
                        <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
               </div>
            </div>
        </li>


            <li class="nav-item">
            <button class="btn heading3"  data-target="#mymodel2" data-toggle="modal" style="color: white;">
                <i class="fa fa-user-plus" style="color: white;"></i>&nbsp;Sign Up</button>
                    <div class="modal" id="mymodel2" >
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body modal-body-sub_agile">
                            <div class="main-mailposi">
                                <span class="fa fa-envelope-o" aria-hidden="true"></span>
                            </div>
                            <div class="modal_body_left modal_body_left1">
                                <h3 class="agileinfo_sign">Sign Up</h3>
                                <p>
                                    Come join the SuperMarkeT! Let's set up your Account.
                                </p>

                                <form [formGroup]="userregister" (ngSubmit)="onSubmit(userregister.value)">
                                    <div class="styled-input" >
                                        <input type="text"  placeholder="FirstName" 
                                        formControlName="Firstname">
                                       <div class="alert alert-danger" 
                                       *ngIf="userregister.controls.Firstname.hasError('required')
                                       && submitted" >
                                       FirstName is required 
                                    </div>
                                    <div class="alert alert-danger" 
                                       *ngIf="userregister.controls.Firstname.hasError('minlength')
                                       && submitted">
                                       FirstName must be of 3 characters
                                    </div>
                                    </div>                                                                             
                                    <div class="styled-input">
                                        <input type="text" placeholder="LastName" 
                                        formControlName="Lastname">
                                    </div>
                                    <div class="alert alert-danger" 
                                       *ngIf="userregister.controls.Lastname.hasError('required')
                                       && submitted">
                                       LastName is required 
                                    </div>
                                    <div class="alert alert-danger" 
                                       *ngIf="userregister.controls.Lastname.hasError('minlength')
                                       && submitted">
                                       LastName must be of 4 characters
                                    </div>

                                    <div formGroupName="userlogin">
                                        <div class="styled-input">
                                            <input type="email" placeholder="E-mail" formControlName="UserEmail" >
                                        </div>
                                        <div class="alert alert-danger" 
                                       *ngIf="userregister.controls.userlogin.controls.UserEmail.hasError('required')
                                       && submitted">
                                       Email-Id is required 
                                    </div>
                                    
                                        <div class="styled-input">
                                            <input type="password" placeholder="Password" formControlName="UserPassword">
                                        </div>
                                        <div class="alert alert-danger" 
                                       *ngIf="userregister.controls.userlogin.controls.UserPassword.hasError('required')
                                       && submitted">
                                       Password is required 
                                    </div>
                                    
                                    </div>
                                     <button type="submit" class="btn heading3"  
                                     [disabled]="!userregister.valid" style="color: white; padding-top: 5px; 
                                       padding-bottom: 10px; padding-left: 40px; padding-right: 40px; margin-left:140px;"> 
                                     Sign Up</button>
                                    <br>
                                    <br>
                                    <div class="m" style="color: orange!important; text-align: center!important; margin-top: 5px;">
                                        <a href="mymodal1" data-toggle="modal" data-target="#mymodel1" data-dismiss="modal">
                                            Go Back To Login In !!</a>
                                    </div>


                                 </form>
                                </div>
                        </div>
                    </div>
                    </div>
                </div>
            </li>
      
<!-- //Modal content-->

  </ol>
<br>
   </div>
</div>
